<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
</style>  

h2
{
	font-family: 'Arial Black';
	font-weight: 700;
}

h1
{
	font-family: 'Roboto';
	/*Pour jouer sur la teinte des ecritures on fait varier le nombre*/
	font-weight: 300;

}